[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
flake8-docstrings = "*"
jupyter = "*"
pep8-naming = "*"
pytest = "*"
requests = "*"
jsonschema = "*"

[packages]
fastapi = "*"
pandas = "*"
uvicorn = "*"
plotly = "*"
psycopg2-binary = "*"

[requires]
python_version = "3.7"
